body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    background-image: url("back2.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.slide:target {
    opacity: 1;
    z-index: 1; 
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: #333;
    text-decoration: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-width: 600px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden; 
    position: relative; 
    margin-top: 5%;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.8) 100%); 
}

.slide h1 {
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
    margin-top: 50px; 
}
.slide h2 {
    color: #666;
    text-align: center;
}

.slide p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.subTitle{
    text-align: center;
}
.content{
    text-align: center;
}

.slide .mbti{
    font-size: 80px; 
    color: #1a1a1a; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
    letter-spacing: 30px;
}

img{
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 15%;
}
nav {
    position: absolute; 
    top: 120px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5); 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px; 
    transition: color 0.3s ease; 
}

nav ul li a:hover, nav ul li a:target {
    color: rgb(85, 179, 220);
}
